<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>账务总览</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form class="form-inline" method="post" action="index">
        {% csrf_token %}
          <label class="my-1 mr-2" for="month">月份</label>
          <select class="custom-select my-1 mr-sm-2" id="month" name="month">
           
            {% if months %}
            	 <option  value='-1'>全部</option>
            	{% for mt in months %}
            	<option value="{{mt}}" {% if mt ==  reqmonth  %}  selected {% endif %}>{{mt}}</option>
            	{% endfor %}
            {% else %}
            	 <option selected value='-1'>全部</option>
            {% endif %}
          </select>
          <label class="my-1 mr-2" for="booktype">大类</label>
          <select class="custom-select my-1 mr-sm-2" id="booktype" name="booktype">
            
            {% if booktype %}
        		 <option  value='-1'>全部</option>
            	 {% for type in booktype %}
            	 <option value="{{ type.id }}" {% if type.id ==  reqbooktype%}  selected{% endif %}>{{type.name}}</option>
            	 {% endfor%}
            {% else %}
            	 <option selected value='-1'>全部</option>
            {% endif %}
          </select>
          <button type="submit" class="btn btn-primary my-1">Submit</button>
        </form>
      </div>
      <div class="row" style="height:80%">
        {% if items %}
        <table class="table">
          <thead>
          <tr>
            <th scope="col">日期</th>
            <th scope="col">金额</th>
            <th scope="col">大类</th>
            <th scope="col">小类</th>
            <th scope="col">操作</th>
            <th scope="col">备注</th>
          </tr>
        </thead>
         <tbody>
          {% for item in items %}
              <tr>
              <th scope="row">{{ item.getDate }}</th>
            <td>{{ item.money }}</td>
            <td>{{ item.type.name }}</td>
            <td>{{ item.subtype.name }}</td>
             <td><a href='/admin/book/bookitem/{{ item.id }}/change/'>编辑</a></td>
            <td>{{ item.memo }}</td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        
      </div>

    <div class="row"><a href='toexcel?month={% if   reqmonth  %}{{reqmonth}}{% endif %}&booktype={% if   reqbooktype  %}{{reqbooktype}}{% endif %}'>下载账单</a></div>
    </div>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
  